body {
    background: black;
    background-image:  url('../images/chairs.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

main {
    color: white;
    margin-top: 100px;
    margin-bottom: 75px;
}

header, nav {
    background: #7C00C8
}

footer, nav {
    background: #7C00C8;
}

h1 {
    font-family: 'Monoton', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    color: #FFF000;
}

.carousel-caption {
  text-shadow: 0 0 6px #000000;
}

form {
    color: white;
}

.cahe-nav-link-inactive {
    color: white;
}

.cahe-nav-link-active {
    color: #FFF000;
    font-weight: bold;
}

cahe-btn-primary {
    background-color: #7C00C8;
}

.pnbb-card-title {
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 0px;
}

.pnbb-card-text {
    font-family: 'Road Rage', cursive;
}

.pnbb-cross {
  text-decoration: line-through;
}