<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>CinemAHE: Repertuar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- w3 -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- local -->
    <link th:href="@{/css/global.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-sm fixed-top ml-5 ">
        <div class="container-fluid">
            <a class="navbar-brand text-warning" href="/home"><h1>cinemAHE</h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="/home" role="button">
                            <span class="cahe-nav-link-inactive">
                                STRONA GŁÓWNA
                            </span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/movies" role="button">
                            <span class="cahe-nav-link-active">
                                REPERTUAR
                            </span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/cinemas" role="button">
                            <span class="cahe-nav-link-inactive">
                                NASZE KINA
                            </span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/tickets" role="button">
                            <span class="cahe-nav-link-inactive">
                                KUP BILET
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact" role="button">
                            <span class="cahe-nav-link-inactive">
                                KONTAKT
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="row">
        <div class="col-lg-2 col-md-1"></div>
        <div class="col-lg-8 col-md-10">
            <h2 class="my-5">
                W najbliższych dniach na ekranie
            </h2>
            <div class="row text-dark">
                <div th:each="movie: ${movies}" class="card mb-4 mx-3 p-0 col-10 col-md-5">
                    <img class="card-img-top" th:src="${movie.wideImage}" alt="a picture from the movie w-100" >
                    <div class="card-body">
                        <h4 class="card-title pnbb-card-title" th:text="${movie.title}">Tytuł filmu</h4>
                        <p class="card-text pnbb-card-text" th:text="${'Gatunek: ' + movie.genre.genreName}">
                            Gatunek: komedia
                        </p>
                        <p th:text="${movie.description}"
                           class="card-text pnbb-card-text">
                            Gorzka komedia opowiadająca o Adasiu Miauczyńskim (Marek Kondrat), człowieku, dla
                            którego najbliższe pięć minut życia stanowi prawdziwe piekło. Mężczyzna jest uwikłany w
                            natręctwa życia codziennego. To numeroman, ablutoman, nie akceptuje siebie i choć marzy
                            o wielkiej miłości, ucieka od wszystkiego, co pachnie stałym związkiem. Na dodatek
                            codzienne kontakty z ludźmi wywołują w nim agresję. W ciągu jednej doby, w czasie której
                            rozgrywa się akcja, skoncentrowane zostały wszelkie możliwe uciążliwości.
                        </p>
                        <p>
                            <a th:href="${'/tickets?movieId=' + movie.id}"
                               type="button" class="btn w3-button w3-deep-purple ">
                                Kup bilet
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<footer>
    <nav class="navbar navbar-expand-sm fixed-bottom">
        <div class="w-100 text-center">
            <p class="text-white text-center">
                Copyright @ 2022 CinemAHE Polska
            </p>
        </div>
    </nav>
</footer>
</body>
</html>